In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 03:36:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
print(spark.version)

3.4.2

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-06 04:17:09--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T041709Z&X-Amz-Expires=300&X-Amz-Signature=ffaf130fd28166087238280ade274bb19eaaff762c140b7c2568f2a69266aca1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-06 04:17:09--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T041709Z&X-Amz-Expires=300&X-Amz-Signature=ffaf130fd28166087238280ade274bb19eaaff762c140b7c2568f2a69266aca1&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M   112MB/s    in 0.2s

2024-03-06 04:17:10 (112 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
!gunzip -c fhv_tripdata_2019-10.csv.gz > fhv_tripdata_2019-10.csv

In [6]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [67]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [8]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [9]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime='2019-10-01 00:11:29', dropOff_datetime='2019-10-01 00:13:22', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:11:43', dropOff_datetime='2019-10-01 00:37:20', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:56:29', dropOff_datetime='2019-10-01 00:57:47', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:23:09', dropOff_datetime='2019-10-01 00:28:27', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014')]

In [10]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [11]:
!head -n 101 fhv_tripdata_2019-10.csv > head.csv

In [12]:
!head -n 10 head.csv

dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021

In [14]:
import pandas as pd

In [15]:
df_pandas = pd.read_csv('head.csv')

In [16]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [17]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [23]:
from pyspark.sql import types
from pyspark.sql import functions as F

In [68]:
df = df.withColumn("dispatching_base_num", F.trim(F.col("dispatching_base_num"))) \
       .withColumn("Affiliated_base_number", F.trim(F.col("Affiliated_base_number")))

In [69]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|              B00021|2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|                B00021|
|              B00021|2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|                B00021|
|              B00021|2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|                B00021|
|              B00021|2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|                B00021|
|              B00021|2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|                B00021|
|              B00021|2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|                B00021|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [70]:
schema = types.StructType([
  types.StructField('dispatching_base_num', types.StringType(), True),
  types.StructField('pickup_datetime', types.TimestampType(), True),
  types.StructField('dropOff_datetime', types.TimestampType(), True),
  types.StructField('PUlocationID', types.IntegerType(), True),
  types.StructField('DOlocationID', types.IntegerType(), True),
  types.StructField('SR_Flag', types.StringType(), True),
  types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [71]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [72]:
df = df.repartition(6)

In [73]:
df.write.parquet('fhvhv/2019/10/', mode="overwrite")

In [74]:
!ls -lh fhvhv/2019/10/*.parquet

-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00000-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet
-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00001-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet
-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00002-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet
-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00003-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet
-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00004-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet
-rw-r--r-- 1 aziz aziz 6.3M Mar  6 17:43 fhvhv/2019/10/part-00005-b025f699-0525-4e33-acee-290b8fac8a98-c000.snappy.parquet

In [43]:
trips = df.filter(F.to_date(df.pickup_datetime) == '2019-10-15').count()

In [48]:
print(f"Number of taxi trips on October 15: {trips}")

Number of taxi trips on October 15: 62610

In [56]:
df = df.withColumn("trip_duration_hours", (F.unix_timestamp("dropOff_datetime") - F.unix_timestamp("pickup_datetime")) / 3600)
longest_trip = df.select(F.max("trip_duration_hours")).collect()[0][0]

In [57]:
print(f"The longest trip is {longest_trip} hours.")

The longest trip is 631152.5 hours.

In [58]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-06 07:23:35--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T072335Z&X-Amz-Expires=300&X-Amz-Signature=e1adfccdc0a75bf5d802ec3de80c3ca224dbe6bbeeeb4ffcfec0ccc121452591&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-06 07:23:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T072335Z&X-Amz-Expires=300&X-Amz-Signature=e1adfccdc0a75bf5d802ec3de80c3ca224dbe6bbeeeb4ffcfec0ccc121452591&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-06 07:23:35 (23.9 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [59]:
!head taxi_zone_lookup.csv

In [78]:
df_fhv_zone = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [79]:
df_fhv_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [75]:
df_fhv_frequency = df.groupBy("PUlocationID").count()

In [77]:
df_fhv_frequency.show()

+------------+-----+
|PUlocationID|count|
+------------+-----+
|         148|  684|
|         243|  732|
|          31|  264|
|         251| 1317|
|          85|  475|
|         137| 2308|
|          65|  925|
|          53| 1410|
|         255|  273|
|         133|  393|
|          78| 2909|
|         108|  697|
|         155|  644|
|          34|   57|
|         211|  235|
|         193| 2310|
|         101|  719|
|         126| 1059|
|         115|  632|
|          81|  786|
+------------+-----+
only showing top 20 rows

In [88]:
df_join = df_fhv_frequency.join(df_fhv_zone, df_fhv_frequency.PUlocationID == df_fhv_zone.LocationID, how="left_outer")

In [89]:
df_join.show()

+------------+-----+----------+-------------+--------------------+------------+
|PUlocationID|count|LocationID|      Borough|                Zone|service_zone|
+------------+-----+----------+-------------+--------------------+------------+
|         148|  684|       148|    Manhattan|     Lower East Side| Yellow Zone|
|         243|  732|       243|    Manhattan|Washington Height...|   Boro Zone|
|          31|  264|        31|        Bronx|          Bronx Park|   Boro Zone|
|         251| 1317|       251|Staten Island|         Westerleigh|   Boro Zone|
|          85|  475|        85|     Brooklyn|             Erasmus|   Boro Zone|
|         137| 2308|       137|    Manhattan|            Kips Bay| Yellow Zone|
|          65|  925|        65|     Brooklyn|Downtown Brooklyn...|   Boro Zone|
|          53| 1410|        53|       Queens|       College Point|   Boro Zone|
|         255|  273|       255|     Brooklyn|Williamsburg (Nor...|   Boro Zone|
|         133|  393|       133|     Brooklyn|          Kensington|   Boro Zone|
|          78| 2909|        78|        Bronx|        East Tremont|   Boro Zone|
|         108|  697|       108|     Brooklyn|           Gravesend|   Boro Zone|
|         155|  644|       155|     Brooklyn|Marine Park/Mill ...|   Boro Zone|
|          34|   57|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|         211|  235|       211|    Manhattan|                SoHo| Yellow Zone|
|         193| 2310|       193|       Queens|Queensbridge/Rave...|   Boro Zone|
|         101|  719|       101|       Queens|           Glen Oaks|   Boro Zone|
|         126| 1059|       126|        Bronx|         Hunts Point|   Boro Zone|
|         115|  632|       115|Staten Island| Grymes Hill/Clifton|   Boro Zone|
|          81|  786|        81|        Bronx|         Eastchester|   Boro Zone|
+------------+-----+----------+-------------+--------------------+------------+
only showing top 20 rows

In [90]:
df_least_frequent = df_join \
    .withColumnRenamed("count", "num_trips") \
    .orderBy("num_trips")

In [91]:
df_least_frequent.show()

+------------+---------+----------+-------------+--------------------+------------+
|PUlocationID|num_trips|LocationID|      Borough|                Zone|service_zone|
+------------+---------+----------+-------------+--------------------+------------+
|           2|        1|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         105|        2|       105|    Manhattan|Governor's Island...| Yellow Zone|
|         111|        5|       111|     Brooklyn| Green-Wood Cemetery|   Boro Zone|
|          30|        8|        30|       Queens|       Broad Channel|   Boro Zone|
|         120|       14|       120|    Manhattan|     Highbridge Park|   Boro Zone|
|          12|       15|        12|    Manhattan|        Battery Park| Yellow Zone|
|         207|       23|       207|       Queens|Saint Michaels Ce...|   Boro Zone|
|          27|       25|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|         154|       26|       154|     Brooklyn|Marine Park/Floyd...|   Boro Zone|
|           8|       29|         8|       Queens|        Astoria Park|   Boro Zone|
|         128|       39|       128|    Manhattan|    Inwood Hill Park|   Boro Zone|
|         253|       47|       253|       Queens|       Willets Point|   Boro Zone|
|          96|       53|        96|       Queens|Forest Park/Highl...|   Boro Zone|
|          34|       57|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|          59|       62|        59|        Bronx|        Crotona Park|   Boro Zone|
|          58|       77|        58|        Bronx|        Country Club|   Boro Zone|
|          99|       89|        99|Staten Island|     Freshkills Park|   Boro Zone|
|         190|       98|       190|     Brooklyn|       Prospect Park|   Boro Zone|
|          54|      105|        54|     Brooklyn|     Columbia Street|   Boro Zone|
|         217|      110|       217|     Brooklyn|  South Williamsburg|   Boro Zone|
+------------+---------+----------+-------------+--------------------+------------+
only showing top 20 rows